<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pre-course assessment for NUS ISS Containers</title>
</head>
<body>
  <h1>Random Text: <%= randomText %></h1>
  <h1>Link to repository: <%= linkToRepo %></h1>
  <img src="/images/image.jpg" alt="Random Image" width="400" />
</body>
</html>